.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}
.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{ 
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}

.navigation-example{
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}

#buttons .btn{
    margin: 0 0px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}


.parallax{
  width:100%;
  height:570px;
  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.logo-container .logo{
    overflow: hidden;    
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.fixed-section{
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}
@media (max-width: 991px){
    .fixed-section.affix{
        position: relative;
        margin-bottom: 100px;
    }
}
@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}
.sharing-area .btn-twitter:hover{
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.sharing-area .btn-facebook{
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}
.sharing-area .btn-facebook:hover{
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.sharing-area .btn-google-plus{
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}
.sharing-area .btn-google-plus:hover{
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.sharing-area .btn-github{
    background-color: #333333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}
.sharing-area .btn-github:hover{
    background-color: #333333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}

.section-thin,
.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
}
#navbar .navbar{
    border-radius: 0;
}
.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 25px;
}
.section-examples a{
    text-decoration: none;
}
.section-examples h5{
    margin-top: 30px;
}
.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title,
.tutorial-page .title{
    color: #FFFFFF;
}

.Hero-largeIconMedia{
    color:purple;
    fill:purple;
    height:100%;
    left:0;
    position:relative;
    top:0;
    width:100%;
    max-width:400px;
    padding-bottom:10px;    
    margin-bottom:24px;
    margin-left:auto;
    margin-right:auto;
}

#background3 {
  background: url("../img/banner2.png") 50% 0 fixed;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 400px;
  margin: 0 auto; 
  position: relative; 
  color: #fff;
}

#background2 {
  background: url("../img/blocks.jpg") 50% 0 fixed;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 400px;
  margin: 0 auto; 
  position: relative; 
  color: #fff;
}

.navbar.navbar-blocksense {
  background-color: #222222;
  color: #ffffff;
}

#quote {
   
    background-color: #DDD;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 700px;
    min-height: 700px;
    margin: 0 auto;
    position: relative;
    display: table;

}

.quote-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#rainbow {
  background: rgba(171,8,204,1);
background: -moz-linear-gradient(left, rgba(171,8,204,1) 0%, rgba(193,70,161,1) 50%, rgba(250,5,181,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(171,8,204,1)), color-stop(50%, rgba(193,70,161,1)), color-stop(100%, rgba(250,5,181,1)));
background: -webkit-linear-gradient(left, rgba(171,8,204,1) 0%, rgba(193,70,161,1) 50%, rgba(250,5,181,1) 100%);
background: -o-linear-gradient(left, rgba(171,8,204,1) 0%, rgba(193,70,161,1) 50%, rgba(250,5,181,1) 100%);
background: -ms-linear-gradient(left, rgba(171,8,204,1) 0%, rgba(193,70,161,1) 50%, rgba(250,5,181,1) 100%);
background: linear-gradient(to right, rgba(171,8,204,1) 0%, rgba(193,70,161,1) 50%, rgba(250,5,181,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab08cc', endColorstr='#fa05b5', GradientType=1 );

  
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

#gray-gradient {
    background: -webkit-linear-gradient(rgba(121,74,162,0),rgba(84,90,182,0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-white {
    
    background-size: cover;
    width: 100%;
    height: 700px;
    min-height: 700px;
    margin: 0 auto;
    position: relative;
    display: table;
    background-color:#EEEEEE;
}

.section-purple {
    background-position: top center;
    background-size: cover;
    width: 100%;
    
    margin: 0 auto;
    position: relative;
    display: table;
    background-color:#3B2F63;
  background-image:
  -webkit-radial-gradient(
    50% top, 
    circle, 
    rgba(84,90,182,0.6) 0%, 
    rgba(84,90,182,0) 75%),
  -webkit-radial-gradient(
    right top, 
    circle, 
    #794aa2 0%, 
    rgba(121,74,162,0) 57%);
  background-image:
  radial-gradient(50% top, 
    circle, 
    rgba(84,90,182,0.6) 0%, 
    rgba(84,90,182,0) 75%),
  radial-gradient(right top, 
    circle, 
    #794aa2 0%, 
    rgba(121,74,162,0) 57%);
  background-repeat:no-repeat;
  background-size:100% 1000px;
  color:#c7b8d8;
}

#testing {

  transform:scale(2.0);
  -webkit-transform:scale(2.0);

}    

.svg-container { 
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; 
    vertical-align: middle; 
    overflow: hidden; 
}
.svg-content { 
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

#text-hero {
    color:#c7b8d8;
}

#aa_particles{ position: relative; width: 100%; height:700px; background-color:#3B2F63;background-image:-webkit-radial-gradient(50% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, circle, #794aa2 0%, rgba(121,74,162,0) 57%);background-image:radial-gradient(50% top, circle, rgba(84,90,182,0.6) 0%, rgba(84,90,182,0) 75%),radial-gradient(right top, circle, #794aa2 0%, rgba(121,74,162,0) 57%); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 

.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -moz-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  -o-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}



.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -moz-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  -o-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -moz-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  -o-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -moz-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  -o-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}


.footer-blocksense {
    
    background-color:#3B2F63;
  background-image:
  -webkit-radial-gradient(
    50% top, 
    circle, 
    rgba(84,90,182,0.6) 0%, 
    rgba(84,90,182,0) 75%),
  -webkit-radial-gradient(
    right top, 
    circle, 
    #794aa2 0%, 
    rgba(121,74,162,0) 57%);
  background-image:
  radial-gradient(50% top, 
    circle, 
    rgba(84,90,182,0.6) 0%, 
    rgba(84,90,182,0) 75%),
  radial-gradient(right top, 
    circle, 
    #794aa2 0%, 
    rgba(121,74,162,0) 57%);
  background-repeat:no-repeat;
  background-size:100% 1000px;
  color:#c7b8d8;
}



.inner
    {margin:0px !important;
}

.lamp1, .lamp2, .lamp3 {
    -webkit-transition: fill-opacity 2s ease-in-out;
    transition: fill-opacity 2s ease-in-out;
    fill-opacity:0.1 !important;
}

.lamp1:hover, .lamp2:hover, .lamp3:hover  {

   -webkit-transition: fill-opacity 2s ease-in-out;
    transition: fill-opacity 2s ease-in-out;
    fill-opacity:0.5 !important;
    
  }

  .offer-skill img {
    margin:.5rem 0;
    height:50px;
    -webkit-filter:brightness(200%);
    filter:brightness(200%);
    opacity:.4
}

.offer-skill {
    position:relative;
    margin:1rem 0;
    text-align:center;
    font-size:1.5rem;
    font-weight:200;
    color:#b8bedc
}
     
.offer-skill span {
    position:absolute;
    padding:15px;
    margin-top:8px;
    width:150px;
    color:#fff;
    background:#33a3ec;
    text-align:center;
    visibility:hidden;
    border-radius:6px;
    left:50%;
    margin-left: -77px;
}

.offer-skill span:after { 
    content:'';
    position:absolute;bottom:100%;
    left:50%;
    margin-left:-8px;
    width:0;
    height:0;
    border-bottom:8px solid #33a3ec;
    border-right:8px solid transparent;
    border-left:8px solid transparent
}

.offer-skill:hover img {
    opacity:1;
    -webkit-filter:
    brightness(100%);
    filter:brightness(100%)
}

.offer-skill:hover span {
    visibility:visible;
    opacity:.8;
    top:65px;
    left:50%;
    margin-left:-77px;
    z-index:999
}

.hex {
    fill:blue;
}

@media(max-width:767px) {
  .technology  {
    position: relative;   
       
    opacity:.8;
  
    margin-bottom:2%;
    margin-top: 2% 
  }
  .text-over { 
    -webkit-text-size-adjust: 100%;
   position: absolute; 
   top: 25%;    
   width:90%; 
   color: white;
   padding:0px 3% 0px 3%;
   font-size: 1em;
   line-height: 1.2em;
   
  }
  .img-over { 
   position: absolute; 
   top: 12%;    
   width:90%;
   color: white;
   font-size: 1.5em;
  }
  .tech-line { 
   position: absolute; 
   top: 22%; 
   width: 90%
  }
}

@media(min-width:768px) {
  .technology  {
    position: relative;   
    height:400px;    
    opacity:.8;
    padding:1%;
    margin-bottom:0px;
    margin-top: -30px 
  }
  .text-over { 
   position: absolute; 
   top: 22%;    
   width:80%; 
   color: white;
   padding:0px 0px 0px 15%;
   font-size: 110%;
   line-height: 120%;
  }
  .img-over { 
   position: absolute; 
   top: 5%;    
   width: 100%; 
   color: white;
   font-size: 1.5em;
  }
  .tech-line { 
   position: absolute; 
   top: 14%; 
   width: 100%;   
  }
}

.form-control::-webkit-input-placeholder { color: #000000; }
.form-control:-moz-placeholder { color: #000000; }
.form-control::-moz-placeholder { color: #000000; }
.form-control:-ms-input-placeholder { color: #000000; }







.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
.text-rotator {
  position: relative;
 
  list-style: none;
  text-align: center;
  padding: 0;
  
}

.text-rotator > li {
  position: absolute;
  
  opacity: 0;
  margin: 0 auto;
  width: 100%;
}
.text-rotator > li:first-child {
  -webkit-animation: loop 10s infinite;
}

.text-rotator > li:nth-child(2) {
  -webkit-animation: opsecond 10s infinite;
}

.text-rotator > li:last-child {
  -webkit-animation: oplast 10s infinite;
}

@-webkit-keyframes loop {
  0% { opacity: 0; }
  10% { opacity: 1; }
  33% { opacity: 1; } 
  44% { opacity: 0; }
}

@-webkit-keyframes opsecond {
  33% { opacity: 0; }
  44% { opacity: 1; }
  66% { opacity: 1; }
  77% { opacity: 0; }
}
  
@-webkit-keyframes oplast {
  66% { opacity: 0; }
  77% { opacity: 1; }
  100% { opacity: 1; }
  0% { opacity: 1; }
  10% { opacity: 0; }
}
